*.swp
*.old
*.backup
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
**/*history*
**/*zcompdump*
config/.config/karabiner/assets
config/.config/karabiner/automatic_backups
config/.config/tmux/plugins
config/.config/gh/hosts.yml
config/.config/zsh/.zsh_sessions/
os/macos/Brewfile.lock.json
