*.swp
*.old
*.backup
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
**/*history*
config/.config/nvim/plugged
config/.config/coc/
**/*zcompdump*
config/.config/karabiner/assets
config/.config/karabiner/automatic_backups
