[submodule "nvim-plug"]
        path = config/.config/nvim/autoload
        url = https://github.com/junegunn/vim-plug.git
[submodule "nord/nord-iterm2"]
	path = nord/nord-iterm2
	url = https://github.com/arcticicestudio/nord-iterm2.git
[submodule "nord/nord-dircolors"]
	path = nord/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors.git
[submodule "config/.config/zsh/custom/plugins/zsh-syntax-highlighting"]
	path = config/.config/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "config/.config/zsh/oh-my-zsh"]
	path = config/.config/zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "config/.config/tmux/plugins/tpm"]
	path = config/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
