*.swp
*.old
*.backup
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
**/*history*
**/*zcompdump*
.config/karabiner/assets
.config/karabiner/automatic_backups
.config/tmux/plugins
.config/gh/hosts.yml
.config/zsh/.zsh_sessions/
.config/zsh/custom/aws.zsh
os/macos/Brewfile.lock.json
