[submodule "vim/.vim/autoload"]
	path = vim/.vim/autoload
	url = https://github.com/junegunn/vim-plug
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
